/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    background-color: #edf2f7 ;
}

.logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: black;
}      

.container{
    text-align: center;
    padding-top: 50px;
    margin-top: auto;
    background-color: #edf2f7;
}

.form-control{
    padding: 5px;
    border-radius: 5px;
    width: 300px;
}

button{
    background-color: #14aaf5;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}